:root {
	--white: #fff;
	--background: #f4f4f4;
	--primary-color: #802c6e;
	--secondary-color: #f7aa35;

	--text-color: #3a3134;
	--hover-link: #5d134d;
	--border-color: #cccccc;
	--hover-button-color: #e59315;
	--error-color: rgb(239, 28, 28);
	--button-error: #bf2b2b
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--background);
	position: relative;
}

input, select {
	padding: 0.7rem;
	font-size: 1rem;
	border: 1px solid var(--border-color);
	border-radius: 4px;
}

input:focus {
	outline: none;
	border-color: var(--text-color);
}

.body-content {
	margin: 7rem 7rem 4rem;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}

@media only screen and (max-width: 739px) {
	.body-content {
		margin: 10rem 2rem 4rem;
		gap: 2rem;
	}

	.body-content a {
		font-size: 18px;
		font-weight: 400;
		min-width: 10rem;
	}
}
