.cart-icon {
	cursor: pointer;
	position: relative;
	width: 30px;
	height: 30px;
}

.cart-icon .cart-count {
	position: absolute;
	top: -8px;
	right: -8px;
	background-color: var(--error-color);
	color: var(--secondary-color);
	border-radius: 50%;
	padding: 0.2rem 0.5rem;
	font-size: 0.8rem;
}

@media only screen and (max-width: 739px) {
	.cart-icon {
		position: absolute;
		top: 1.5rem;
		right: 2rem;
	}

}